body {
    background-image: url(bg.jpg);
}

h1 {
    text-align: center;
    font-family: 'Inter';
    color: white;
}

.navbar {
   font-family: 'Inter';
   text-align: center;
   justify-content: center;
   gap: 30px;
   align-items: center;
   flex-direction: column;
   display: flex;
}

.nav-btn {
    border-radius: 10px;
    padding: 10px;
    background-color: azure;
    display: flex;
    gap: 30px;
    color: black;
    transition: .3s;
    
    
}

li {
    color: white;
}

.navbar a {
    text-decoration: none;
}

.navbar a:visited {
    color:black;

}

.nav-btn:hover {
    transform: scale(0.9);
     box-shadow:
    0 0 10px #0000ff,
    0 0 20px #0000ff,
    0 0 40px #0000ff,
    0 0 80px #0000ff,
    0 0 160px #0000ff;
    text-decoration: none;
}


.musique {
    text-align: center;
    background-color: darkslategray;
    height: auto;
    
}

a {
    text-decoration: none;
    width: 200px;
    color: black;
    border-radius: 5px;
    font-family: 'Inter';
    
}


a:hover {
    color: blue;
    text-decoration: underline;
}


.download {
    background-color: white;
    text-decoration: none;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    transition: .3s;
    
}


.download:hover {
    transform: scale(1.1)
}

.convertir {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    top: 50%;
    bottom:50%;
    flex-direction: column;
    
    
}

input[type="url" i] {
    padding:5px;
    border-radius: 10px;
    outline:none;
    border: none;
    font-family: 'Inter';
    transition: .3s;
    
}

button[type="submit"] {
    border-radius: 10px;
    padding: 5px;
    outline:none;
    cursor: pointer;
    transition: .3s;
    font-family: 'Inter';
    
}

button[type="submit"]:hover {
    transform: scale(1.1)
    
    
}


input[type="url" i]:focus {
    box-shadow:
    0 0 10px #0000ff,
    0 0 20px #0000ff,
    0 0 40px #0000ff,
    0 0 80px #0000ff,
    0 0 160px #0000ff;
    transform: scale(0.9);
    
}


.revenir-mp3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.revenir-mp3 a {
    display: block;
    width: 150px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s;
}

.revenir-mp3 a:hover {
    color: #9400D3;
    transform: scale(0.95);
}
