iframe {
    border-radius: 12px;
    margin-top: 20px;
}

/* PLAYLIST SPOTIFY STYLE */
#playlist {
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 20px auto;
}

/* CHAQUE MUSIQUE */
#playlist li {
    background: rgba(0, 0, 0, 0.6);
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
    transition: 0.2s;
}

#playlist li:hover {
    transform: scale(1.02);
    background: rgba(30, 30, 30, 0.9);
}

/* STRUCTURE MUSIQUE (mini Spotify) */
.music {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* MINIATURE YOUTUBE */
.music img {
    width: 80px;
    border-radius: 8px;
}

/* TEXTE */
.title {
    font-weight: bold;
    color: white;
}

.actions {
    margin-top: 5px;
}

/* BOUTONS ACTIONS */
.actions button {
    margin-right: 5px;
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
    background: #2a2a2a;
    color: white;
    transition: 0.2s;
}

.actions button:hover {
    background: #1db954;
    transform: scale(1.1);
}

/* ❤️ FAVORIS */
.fav {
    color: #1db954;
}

/* MOBILE */
@media (max-width: 600px) {
    .music img {
        width: 55px;
    }

    #playlist {
        width: 95%;
    }

    input[type="url" i] {
        width: 90%;
    }
}
